*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ---------------------header--------------------- */
#navbar{
display:flex;
background-color: rgb(206, 212, 208);
justify-content: space-between;
height: 100px;

}
#navbar img{
width: 60px;
border-radius: 50%;
margin-left: 30px;
margin-top: 19px;
}
#navbar p{
 text-decoration: none;
 margin-left: 15px;
 font-size: 25px;
 color: #000;
 font-style:inherit;
 float: right;
 margin-top: 35px;
}
#navbar ul{
list-style: none;
display: flex;
margin-top: 38px;
}
#navbar ul a{
text-decoration: none;
padding: 5px;
font-size: 23px;
color: #000;
margin: 15px;
font-style: normal;
}
#navbar ul a:hover{
  color: blueviolet;
}
/* ---------------------main--------------------- */
#more{
    background-color: rgba(119, 165, 26, 0.434);
    display: flex;                 
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 600px;
}
#more .image{
    width: 28%;
    display: flex;
    justify-content: flex-end;  
    margin-bottom: 40px;  
}
#more img{
    width: 100%;
    height:40% auto;
}
#more h2{
margin-left: 4%;
font-size: 40px;
font-weight: 600;
letter-spacing: 1px;
}
#more p{
margin-left: 4%;
padding-top: 1%;
font-size: 30px;
color: #333;
line-height: 1.6;
}
#more .button{
  display: inline-block;
  padding: 12px 22px;
  border: 2px solid #000;
  text-decoration: none;
  color: #080808;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 40px;
margin: 2%;
transition: all 0.3s ease;
background-color: rgb(206, 212, 208);
margin-top: 20px;
}
#more .button:hover{

transform: scale(1.05);
box-shadow: 0 10px 20px rgba(46, 203, 145, 0.742);
}
#more span {
 font-weight: bold;   
border-radius: 16px;
font-size: 18px;
background-color: rgba(56, 82, 82, 0.427);
padding: 12px 28px;
margin: 2%;
}

/* -----------------fotter----------- */
#footer{
    background-color: rgb(212, 220, 220);
    height: 100px;
}
#footer ul{
   list-style: none;
display: flex;
margin-top: 38px;
padding-left: 400px;
padding-top: 30px;

}
#footer ul a{
text-decoration: none;

font-size: 23px;
color: #000;
margin: 15px;
font-style: normal;

}
#footer ul a:hover{
  color: blueviolet;
}
#footer p{
    padding-left:500px;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(1, 8, 9);
    font-style:inherit;
   
}
@media (max-width: 900px){

/* ---------- Navbar ---------- */
#navbar{
  flex-direction: column;
  height: auto;
  align-items: center;
  padding: 10px 0;
}

#navbar img{
  margin: 10px 0;
}

#navbar p{
 
  font-size: 22px;
}

#navbar ul{
  margin: 10px 0;
  padding: 0;
}

#navbar ul a{
  font-size: 20px;
  margin: 8px;
}


#more{
  flex-direction: column;
  height: auto;
  text-align: center;
  padding: 40px 20px;
}

#more .image{
  width: 60%;
  justify-content: center;
  margin: 20px auto;
}

#more h2{
  margin-left: 0;
  font-size: 32px;
}

#more p{
  margin-left: 0;
  font-size: 22px;
}

#more .button{
  font-size: 18px;
  padding: 10px 20px;
}

#more span{
  display: inline-block;
  margin: 10px auto;
}

/* ---------- Footer ---------- */
#footer{
  height: auto;
  text-align: center;
  padding: 20px 0;
}

#footer ul{
  padding-left: 0;
  justify-content: center;
  margin-top: 10px;
}

#footer p{
  padding-left: 0;
  font-size: 18px;
}
}
